---
import { getCollection } from "astro:content"
import { Image } from "astro:assets"

import BaseLayout from "../../layouts/BaseLayout.astro"

import { getProductsByCategory } from "../../scripts/product"
import {getImages} from "../../scripts/images"

const {category} = Astro.params
if (category == null) Astro.redirect('/404')

const categoryCollection = await getCollection("categories")
const productCollection = await getCollection("products")
const images = getImages()

const categoryName = categoryCollection.find(c => c.id === category)?.data.name
const products = await getProductsByCategory({
  products: productCollection, 
  categories: categoryCollection, 
  images, 
  category: categoryName
})
---

<BaseLayout>
  <div class="product-container">
    <h1>{categoryName}</h1>
    <div class="product-gallery">
      {products.map(product => {
        return (
          <a class="product" href={product.route}>
            <div class="product-image">
              <Image src={product.image()} alt={product.name}/>
            </div>
            <div class="product-name">
              {product.name}
            </div>
            <div class="product-price">
              {product.price}
            </div>
          </a>
        )
      })}
    </div>
  </div>
</BaseLayout>

<style>
  .product-container {
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  h1 {
    margin: 0;
    color: var(--color-text-ink-400);
    font-size: 1.75rem;
  }

  .product-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20rem;
    gap: 1rem;
  }

  .product {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-decoration: none;
  }

  .product-image {
    border-radius: 4px;
    height: 15rem;
    overflow: hidden;
  }

  .product-image > img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    margin-bottom: 0.5rem;
  }

  .product-price {
    font-size: smaller;
    color: var(--color-text-ink-300);
  }

  .product-name {
    font-size: medium;
    color: var(--color-text-ink-400);
  }
</style>