---
import UpdateCart from "../controls/UpdateCart.astro";
import Thumbnail from "./Thumbnail.astro";

const { product } = Astro.props;
---

<script>
  // TODO Trigger this to close on update

  import { SlDialog } from "@shoelace-style/shoelace";

  class UpdateItemDialog extends SlDialog {
    constructor() {
      super();
    }
  }

  customElements.define("update-item-dialog", UpdateItemDialog);
</script>

<update-item-dialog
  id={`edit-${product.id}-dialog`}
  label={`Edit ${product.name} Quantity?`}
  data-id={product.id}
>
  <div class="product-dialog">
    <Thumbnail product={product} />
    <UpdateCart id={product.id} />
  </div>
</update-item-dialog>

<style>
  update-item-dialog::part(base) {
    min-height: 20rem;
  }

  .product-dialog {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
</style>
