---
const { id } = Astro.props;
---

<script>
  import { html, LitElement } from 'lit';
  import { property } from 'lit/decorators.js';
  import type { SlButton } from '@shoelace-style/shoelace';

  import { MAX_PRODUCT_QUANTITY } from '../../utils/constants';
  import { setCurrentProduct } from '../../stores/product';

  class ProductCounter extends LitElement {
    @property({type: String}) 
    productId = ''

    @property({type: Number}) 
    count = 1

    constructor() {
      super()
    }

    connectedCallback() {
      super.connectedCallback()

      const id = this.dataset.id ?? ''
      const counter = this.querySelector(`#${id}-count`)

      if (counter) counter.textContent = '1'

      this.productId = id
      this.count = 1

      const incrementBtn = this.querySelector(`#increment-${this.productId}`)
      const decrementBtn = this.querySelector(`#decrement-${this.productId}`)

      incrementBtn?.addEventListener('click', () => {
        const incrementedCount = this.count + 1
        this.count = incrementedCount
      })

      decrementBtn?.addEventListener('click', () => {
        const decrementedCount = this.count - 1
        this.count = decrementedCount
      })
    }

    updated() {
      const counter = this.querySelector(`#${this.productId}-count`)
      const incrementBtn = this.querySelector(`#increment-${this.productId}`) as SlButton
      const decrementBtn = this.querySelector(`#decrement-${this.productId}`) as SlButton

      if (this.count >= MAX_PRODUCT_QUANTITY && incrementBtn ) incrementBtn.disabled = true
      if (this.count < MAX_PRODUCT_QUANTITY && incrementBtn) incrementBtn.disabled = false

      if (this.count <= 1 && decrementBtn) decrementBtn.disabled = true
      if (this.count > 1 && decrementBtn) decrementBtn.disabled = false

      if (counter) counter.textContent = this.count.toString()
      setCurrentProduct(this.id, this.count)
    }

    render() {
      return html`<slot></slot>`
    }
  }

  customElements.define('product-count', ProductCounter)
</script>

<product-count data-id={id}>
  <sl-button id={`decrement-${id}`}>-</sl-button>
  <div class="counter" id={`${id}-count`}></div>
  <sl-button id={`increment-${id}`}>+</sl-button>
</product-count>

<style>
  product-count {
    display: flex;
    align-items: center;
  }

  .counter {
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    border-top: 1px;
    border-bottom: 1px;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-color: hsl(240, 5%, 84%);
    box-sizing: border-box;
  }

  sl-button {
    width: 2.5rem;
    height: 2.5rem;
  }

  sl-button:first-child::part(base) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  sl-button:last-child::part(base) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
</style>
