---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import BaseLayout from "../../layouts/BaseLayout.astro";
import QuantityAdder from "../../components/product/ProductCounter.astro";
import Breadcrumb from "../../components/shared/Breadcrumb.astro";

import { getImages } from "../../scripts/images";
import { getProduct } from '../../scripts/product'
import { buildCategoryBreadcrumbs } from '../../scripts/routes'

// The product name is the slug
const { slug } = Astro.params;

const products = await getCollection("products");
const categories = await getCollection("categories")
const images = getImages()

const product = getProduct({products, id: slug, images})

if (!product) return Astro.redirect("/404");

const breadcrumbs = buildCategoryBreadcrumbs(categories, product.category)
---

<script>
  import "@shoelace-style/shoelace/dist/components/button/button.js";

  import { quantity } from "../../stores/productCounter";
  import { cart } from "../../stores/cart";
  import { updateQuantityInCart } from "../../scripts/cart";

  const addToCartButton = document.getElementById("add-to-cart");
  const product = addToCartButton?.dataset.product;

  // Straight forward - when the user clicks add, we get the cart, our new quantity, then update the cart accordingly
  if (addToCartButton && product) {
    addToCartButton.addEventListener("click", () => {
      const currentCart = cart.get();
      const newQuantity = quantity.get();
      const updatedCart = updateQuantityInCart(
        currentCart,
        product,
        newQuantity,
      );

      cart.set(updatedCart);
    });
  }
</script>

<BaseLayout>
  <div class="product-container">
    <Breadcrumb routes={breadcrumbs} />
    <div class="img-container">
      <Image src={product.image()} alt={product.name} />
    </div>
    <section>
      <h2>{product.name}</h2>
      <div>{product.formattedPrice}</div>
      <p>{product.description}</p>
      <QuantityAdder />
      <sl-button data-product={product.name} id="add-to-cart">
        Add to cart
      </sl-button
      >
    </section>
  </div>
</BaseLayout>

<style>
  img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  h2 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  .img-container {
    border-radius: 8px;
    overflow: hidden;
    height: 30rem;
    width: 25rem;
  }

  .product-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    margin: 1.5rem 2rem;
  }
</style>
